<header id="adminPanelHeader">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-2">
            <div class="adminLogo">
               <a href="#">
                  <img class="img-fluid" src="{{ STATIC_URL }}static/company_module/img/admin-header-logo.png" alt="">
               </a>
            </div>
         </div>
         <div class="col-lg-8">
            <div class="menuareaAdmin text-center">
               <ul>
                  <li>
                     <a href="#">User Type</a>
                     <div class="adminDropdownHover">
                        <ul>
                           <li><a href="#">Individual Users</a></li>
                           <li><a href="/superpanel/super-admin-login">Company Users</a></li>
                        </ul>
                     </div>
                  </li>
                  <li>
                     <a href="#">Product Pricing</a>
                     <div class="adminDropdownHover">
                        <ul>
                           <li><a href="#">Card Pricing</a></li>
                           <li><a href="#">Add Pop-Up Buttons</a></li>
                        </ul>
                     </div>
                  </li>
                  <li>
                     <a href="#">Promotional Content</a>
                     <div class="adminDropdownHover">
                        <ul>
                           <li><a href="#">FAQ Videos</a></li>
                           <li><a href="#">FAQ Content</a></li>
                           <li><a href="#">Testimonials</a></li>
                        </ul>
                     </div>
                  </li>
                  <li>
                     <a href="#">Companies</a>
                     <div class="adminDropdownHover">
                        <ul>
                           <li><a href="/superpanel/create-company">Create Company</a></li>
                           <li><a href="/superpanel/view-company">View Companies</a></li>
                           <li><a href="/superpanel/bulk-upload">Bulk Upload</a></li>
                        </ul>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
         {% if request.user.is_authenticated %}
         <div class="col-lg-2">
            <div class="adminUserDropDown text-end">
               <ul>
                  <li>
                     <img class="img-fluid" src="{{ STATIC_URL }}static/signup_module/img/user.png" alt="">
                     Admin <i class="fa fa-sort-down"></i>
                     <div class="adminUserHover">
                        <ul>
                           <li><a href="/superpanel/logout">Logout</a></li>
                        </ul>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
         {% endif %}
      </div>
   </div>
</header>




<!-- start mobile header -->
<!-- <section id="mobileHeader">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-3">
            <div class="logoMobile">
               <a href="#">
                  <img src="{{ STATIC_URL }}static/signup_module/img/mobile-logo.png" class="img-fluid" alt="">
               </a>
            </div>
         </div>
         <div class="col-9">
            <div class="mobileHeadeToggle text-right">
               <span><i class="fa fa-bars"></i></span>
            </div>
         </div>
      </div>
   </div>
</section> -->
<!-- end mobile header -->
<!-- start mobile header content -->
<!-- <section id="mobileHederContent">
   <div class="topareaContentMobile">
      <div class="row">
         <div class="col-3">
            <div class="logoMobileContent">
               <img class="img-fluid" src="{{ STATIC_URL }}static/signup_module/img/mobile-logo.png" alt="">
            </div>
         </div>
         <div class="col-9">
            <div class="topRight text-right">
               <ul>
                  <li><img class="img-fluid" src="{{ STATIC_URL }}static/signup_module/img/user.png" alt=""></li> -->
                  <!-- <li><a href="#">Sign In</a></li>  -->
                  <!-- <li class="menuCLose"><i class="fal fa-times"></i></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="headerMobileContentLink">
      <div class="linkBox">
         <ul>
            <li><a href="#"><img src="{{ STATIC_URL }}static/signup_module/img/menu/1.png" alt=""> ETCH24 Cards</a></li>
            <li><a href="#"><img src="{{ STATIC_URL }}static/signup_module/img/menu/2.png" alt=""> Pop-Up Buttons</a></li>
         </ul>
      </div>
      <div class="deviderLink"></div>
      <div class="linkBox">
         <ul>
            <li><a href="#"><img src="{{ STATIC_URL }}static/signup_module/img/menu/3.png" alt=""> Why ETCH24</a></li>
            <li><a href="#"><img src="{{ STATIC_URL }}static/signup_module/img/menu/4.png" alt=""> ETCH24.PROFILE</a></li>
            <li><a href="#"><img src="{{ STATIC_URL }}static/signup_module/img/menu/5.png" alt=""> FAQ</a></li>
            <li><a href="#"><img src="{{ STATIC_URL }}static/signup_module/img/menu/10.png" alt=""> Testimonial</a></li>
         </ul>
      </div>
      <div class="deviderLink"></div>
      <div class="linkBox">
         <ul>
            <li><a href="#"><img src="{{ STATIC_URL }}static/signup_module/img/menu/6.png" alt=""> My Cart</a></li>
            <li><a href="#"><img src="{{ STATIC_URL }}static/signup_module/img/menu/7.png" alt=""> My Orders</a></li>
            <li><a href="#"><img src="{{ STATIC_URL }}static/signup_module/img/menu/8.png" alt=""> ETCH24.PROFILE</a></li>
            <li><a href="#"><img src="{{ STATIC_URL }}static/signup_module/img/menu/9.png" alt=""> Sign Out</a></li>
         </ul>
      </div>
   </div>
</section> -->
<!-- end mobile header content -->
