{% extends './common/sign_skeleton.html' %}
{% block main_body %}

   <!-- start signup popup -->
   <div id="signup-popup">
      <!-- <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"> -->
         <div class="modal-dialog modal-lg modal-dialog-centered">
           <div class="modal-content">
             <div class="signup-modal-content">
                <div class="social-login-auth text-center">
                   <h4>SIGN UP USING SOCIAL LOGIN</h4>
                   <ul>
                      <li><a href="#"><img src="{{ STATIC_URL }}static/signup_module/img/icons/google.png" alt=""></a></li>
                      <li><a href="#"><img src="{{ STATIC_URL }}static/signup_module/img/icons/facebook.png" alt=""></a></li>
                      <li><a href="#"><img src="{{ STATIC_URL }}static/signup_module/img/icons/linkdin.png" alt=""></a></li>
                      <!-- <li><a href="#"><img src="{{ STATIC_URL }}static/signup_module/img/icons/apple.png" alt=""></a></li> -->
                   </ul>
                </div>
                <div class="main-signup-form">
                   <form action="#">
                      <h4>or use your email for registeration</h4>
                      <div class="input-box-area">
                         <div class="inputBox">
                            <div class="input-main">
                              <input type="text" id="my_name" placeholder="Name">
                              <span class="input-icons"><i class="fa fa-user"></i></span>
                            </div>
                         </div>
                         <div class="inputBox">
                            <div class="input-main">
                              <input type="email" id="my_email" placeholder="Email Address">
                              <span class="input-icons"><i class="fa fa-envelope"></i></span>
                            </div>
                            <span class="form-error" id="my_span" style="display:none;">Email Address Already Registered</span>
                        </div>
                        <div class="inputBox inputBoxPass">
                           <div class="input-main">
                             <input id="passwordFild" type="password" placeholder="Password">
                             <span class="input-icons"><i class="fa fa-lock"></i></span>
                             <button class="passwordShowBtn show" type="button">
                                <i class="far fa-eye"></i>
                                <i class="far fa-eye-slash"></i>
                              </button>
                           </div>
                       </div>
                       <div class="form-link-auth">
                          <div class="row">
                             <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <div class="form-link-link">
                                 <a href="/superpanel/login" id="signinmodal-btn">Already a user</a>
                                </div>
                             </div>
                             <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                              <div class="form-link-right text-right">
                                 <a href="/superpanel/forgot-password" id="forgotepass-modal-btn">Forgot Password?</a>
                                </div>
                             </div>
                          </div>
                       </div>
                       <div class="form-submit-btn text-center">
                          <button type="button" id="signupbtn-modal" class="cbtn">SIGN UP</button>
                       </div>
                      </div>
                   </form>
                </div>
             </div>
           </div>
         </div>
       <!-- </div> -->
   </div>
   <!-- end signup popup -->

   <!-- start emil send popup -->
   <div id="emailSendpop">
      <div class="modal fade" id="emailpopupmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
           <div class="modal-content">
             <div class="modal-body">
               <div class="email-send-modal-contet text-center">
                  <img class="img-fluid" src="{{ STATIC_URL }}static/signup_module/img/icons/send.png" alt="">
                  <h4>A verification link has been sent to your email address</h4>
                  <p>Please click on the link that has just been sent to your email and continue the registration process.</p>
               </div>
             </div>
           </div>
         </div>
       </div>
   </div>
   <!-- end emil send popup -->

   <!-- start sign in modal area -->
   <div id="signin-popup">
      <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
         <div class="modal-dialog modal-lg modal-dialog-centered">
           <div class="modal-content">
             <div class="signup-modal-content">
                <div class="social-login-auth text-center">
                   <h4>SIGN IN USING SOCIAL LOGIN</h4>
                   <ul>
                      <li><a href="#"><img src="{{ STATIC_URL }}static/signup_module/img/icons/google.png" alt=""></a></li>
                      <li><a href="#"><img src="{{ STATIC_URL }}static/signup_module/img/icons/facebook.png" alt=""></a></li>
                      <li><a href="#"><img src="{{ STATIC_URL }}static/signup_module/img/icons/linkdin.png" alt=""></a></li>
                      <!-- <li><a href="#"><img src="{{ STATIC_URL }}static/signup_module/img/icons/apple.png" alt=""></a></li> -->
                   </ul>
                </div>
                <div class="main-signup-form">
                   <form action="#">
                      <h4>or use your email ADDRESS</h4>
                      <div class="input-box-area">
                         <div class="inputBox">
                            <div class="input-main">
                              <input type="email" id="my_email" placeholder="Email Address">
                              <span class="input-icons"><i class="fa fa-envelope"></i></span>
                            </div>
                            <div class="create-new-account-link">
                               <a href="#" data-toggle="modal" data-target="#signup-modal">Create New Account</a>
                            </div>
                        </div>
                        <div class="inputBox inputBoxPass">
                           <div class="input-main">
                             <input id="passwordFild2" type="password" placeholder="Password">
                             <span class="input-icons"><i class="fa fa-lock"></i></span>
                             <button class="passwordShowBtn show" type="button">
                                <i class="far fa-eye"></i>
                                <i class="far fa-eye-slash"></i>
                              </button>
                              <span class="loginerror-message" style="display:none">Email or Password Incorrect</span>
                           </div>
                       </div>
                       <div class="form-link-auth">
                          <div class="row">
                             <div class="col-lg-12">
                              <div class="form-link-right text-right">
                                 <a href="#" id="forgotepass-modal-btn2" data-toggle="modal" data-target="#forgotpass-modal">Forgot Password?</a>
                                </div>
                             </div>
                          </div>
                       </div>
                       <div class="form-submit-btn text-center">
                          <button type="button" id="signupbtn-modal" class="cbtn">SIGN IN</button>
                       </div>
                      </div>
                   </form>
                </div>
             </div>
           </div>
         </div>
       </div>
   </div>
   <!-- end sign in modal area -->

   {% endblock %}

   <!-- all javascript load here -->
   {% block script_body %}
   <script>
     $(function(){
       $("#signupbtn-modal").click(function(){

         $.ajax({
              url: "/superpanel/signup",
              type: 'POST',
              headers: {
                          'Content-Type':'application/json',
                          'X-CSRFToken': "{{ csrf_token }}"
              },
              data: JSON.stringify({
                'name': $("#my_name").val(),
                'email': $("#my_email").val(),
                'password': $("#passwordFild").val()
              }),
              success: function(data) {
                // console.log(data);
                if(data.status==="error"){
                  $("#my_span").css("display", "block");
                }
                else if(data.status==="success"){
                  window.location.href = "/employees/edit-profile";
                }
                else{
                  alert("Some Error Occured!! Please Try Again!!")
                }
              }
            });
        });
     });
   </script>
   {% endblock %}
