{% extends './common/edit_skeleton.html' %}
{% block main_body %}

   <!-- start download profile banar -->
   <section id="downloadProfileBanar">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <div class="downloadProfileBanarContent text-center">
                  <img class="img-fluid" src="{{ STATIC_URL }}static/edit_download_module/img/download-profile.png" alt="">
                  <h3>{{ obj.user.user.first_name }} {{ obj.middle_name }} {{ obj.user.user.last_name }}</h3>
                  <p>{{ obj.user.mobile }}</p>
                  <h4>{{ obj.profession }}</h4>
                  <h6>{{ obj.description }}</h6>
                  <a href="/employees/create_vcf?username={{ obj.user.user.username }}">Add to Contacts <i class="fal fa-arrow-to-bottom"></i></a>
                  <h5>{{ obj.job_title }}</h5>
                  {% if obj.company %}
                    <h5>{{ obj.company.name }}</h5>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- end download profile banar -->
   <!-- fix review btn -->
   <div id="reviewBox">
      <a href="#">
         <i class="fa fa-star"></i>
         <span>Reviews</span>
      </a>
   </div>
   <!-- fix review btn -->


   <!-- start profile information area -->
   <section id="profileInfoArea">
      <div class="container">
         <div class="row">
            <div class="col-xl-10 mx-auto">
               <div class="profileInfoContainer">
                  <div class="row">
                     <div class="col-12">
                        <div class="profileInfoAreaItem">
                           <div class="toparea text-center">
                              <h3>Contact Me</h3>
                           </div>
                           <div class="itemarea">
                              <div class="row d-flex justify-content-center">
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.whatsapp_number }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/whatsapp.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.telephone_number }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/phone.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.fax_number }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/fax.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.website }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/internet.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.user.user.email }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/mail.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.skype_id }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/skype.png" alt="">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="profileInfoAreaItem">
                           <div class="toparea text-center">
                              <h3>Connect With Me</h3>
                           </div>
                           <div class="itemarea">
                              <div class="row d-flex justify-content-center">
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.third_party_connection_details.facebook }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/facebook.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.third_party_connection_details.instagram }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/instagram.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.third_party_connection_details.snapchat }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/snapchat.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.third_party_connection_details.linkedin }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/linkdin.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.third_party_connection_details.twitter }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/twitter.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.third_party_connection_details.tumblr }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/tumblr.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.third_party_connection_details.dribble }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/design.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.third_party_connection_details.behance }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/behance.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.third_party_connection_details.pinterest }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/pinterest.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.third_party_connection_details.youtube }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/youtube.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.third_party_connection_details.telegram }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/telegram.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.third_party_connection_details.reddit }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/reddit.png" alt="">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="profileInfoAreaItem">
                           <div class="toparea text-center">
                              <h3>Payment Details</h3>
                           </div>
                           <div class="itemarea">
                              <div class="row d-flex justify-content-center">
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.payment_details.g_pay }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/gpay.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.payment_details.apple_pay }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/apay.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.payment_details.paypal }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/paypal.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.payment_details.samsung_pay }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/spay.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.payment_details.cash_app }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/paymebt.png" alt="">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="profileInfoAreaItem">
                           <div class="toparea text-center">
                              <h3>Additional Details</h3>
                           </div>
                           <div class="itemarea">
                              <div class="row d-flex justify-content-center">
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.email_address1 }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/mail.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.email_address2 }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/mail.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.email_address3 }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/mail.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.website1 }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/internet.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.website2 }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/internet.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.website3 }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/internet.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.mobile1 }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/phone-hand.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.mobile2 }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/phone-hand.png" alt="">
                                    </div>
                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    <div class="itemBox text-center">
                                       <h4>{{ obj.mobile3 }}</h4>
                                       <img src="{{ STATIC_URL }}static/edit_download_module/img/icons/phone-hand.png" alt="">
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-12">
               <div class="profileInfoAreaItem">
                  <div class="toparea text-center">
                     <h3>Address 1</h3>
                  </div>
                  <div class="addressMapArea">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28696.84724016179!2d88.6916271!3d25.964566849999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e4a3e3826a4af5%3A0xdcdafbdba26f1e3e!2zMjXCsDU3JzIxLjMiTiA4OMKwNDInMjMuMyJF!5e0!3m2!1sen!2sbd!4v1607251904220!5m2!1sen!2sbd" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                  </div>
               </div>
            </div>
            <div class="col-12">
               <div class="profileInfoAreaItem">
                  <div class="toparea text-center">
                     <h3>Address 2</h3>
                  </div>
                  <div class="addressMapArea">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28696.84724016179!2d88.6916271!3d25.964566849999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e4a3e3826a4af5%3A0xdcdafbdba26f1e3e!2zMjXCsDU3JzIxLjMiTiA4OMKwNDInMjMuMyJF!5e0!3m2!1sen!2sbd!4v1607251904220!5m2!1sen!2sbd" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                  </div>
               </div>
            </div>
            <div class="col-12">
               <div class="addtoContactBtn text-center">
                  <a href="/employees/create_vcf?username={{ obj.user.user.username }}">Add to Contacts <i class="fal fa-arrow-to-bottom"></i></a>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- end profile information area -->



  <!-- start footer area -->
  <footer id="footer">
   <div class="container">
      <div class="row">
         <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
            <div class="footerlogo">
               <div class="logo">
                  <a href="#">
                     <img class="img-fluid" src="{{ STATIC_URL }}static/edit_download_module/img/footer-logo.png" alt="">
                  </a>
               </div>
               <div class="about">
                  <p>Tap Into The Future Of Business Cards With ETCH24, A Smart Business Card For The Digital Age. <span>Personalized | Customized | Versatile</span></p>
               </div>
            </div>
         </div>
         <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6">
            <div class="footerLinkarea">
               <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-6">
                     <div class="footerLink">
                        <h4>Company</h4>
                        <ul>
                           <li><a href="#">About Us</a></li>
                           <li><a href="#">Privacy Policy</a></li>
                           <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6">
                     <div class="footerLink">
                        <h4>About ETCH24</h4>
                        <ul>
                           <li><a href="#">Why ETCH24</a></li>
                           <li><a href="#">ETCH24.PROFILE</a></li>
                           <li><a href="#">Testimonials</a></li>
                           <li><a href="#">FAQ's</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6">
                     <div class="footerLink">
                        <h4>Contact Us</h4>
                        <ul>
                           <li><a href="#">+91 91676 33913</a></li>
                           <li><a href="#">etch24.profile@gmail.com</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
<!-- end footer area -->

{% endblock %}

<!-- all javascript load here -->
{% block script_body %}
{% endblock %}
