{% extends './common/edit_skeleton.html' %}
{% block main_body %}


   <!-- start edit profile message top -->
   {% if obj.is_profile_status_active == False %}
   <section id="edditPofileMessageTop">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <div class="edditPofileMessageTopContent text-center">
                  <p>Your profile is not yet activated. Please <a href="#">BUY</a> a card to enjoy the benefits of ETCH24.PROFILE</p>
               </div>
            </div>
         </div>
      </div>
   </section>
   {% endif %}
   <!-- end edit profile message top -->

   <!-- start edit profile main form area -->
   <section id="editProfileMainForm">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <div class="editProfileForm">
                    <form action="" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                     <!-- start persoanl details area -->
                     <div id="persoanlDetailsForm" class="formItemBox">
                        <div class="editFormComonTop text-center">
                           <div class="itemTopIcon">
                              <img class="img-fluid" src="{{ STATIC_URL }}static/edit_download_module/img/icons/profile.png" alt="">
                           </div>
                           <div class="title">
                              <h4>Personal Details</h4>
                           </div>
                        </div>
                        <div class="inputBoxArea">
                           <div class="row">
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input name="firstName" value = "{{ obj.user.user.first_name }}" type="text" placeholder="First name">
                                    <label>First Name</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" value = "{{ obj.middle_name }}" name="middleName" placeholder="Middle name">
                                    <label>Middle Name</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input name="lastName" value = "{{ obj.user.user.last_name }}" type="text" placeholder="Last name">
                                    <label>Last Name</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input name="userId" type="text" value = "{{ obj.user.user.username }}" placeholder="User ID ( Non Editable )" disabled>
                                    <label>User ID</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <label id="ProfileError" class="error"></label>
                                    <input type="file" name="profileImage" id="profileImage" value = "{{ obj.profile_picture }}" >
                                    <label class="filetypeLabel" for="profileImage">Upload Profile Picture</label>
                                    <span class="label2">Profile Picture (320px*320px)</span>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="profileImagePreview">
                                    <img id="profileViewImage" class="img-fluid" src="{{ STATIC_URL }}static/edit_download_module/img/icons/ar-camera.png" alt="">
                                    <p class="profileImageFileNme">No file selected</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- end persoanl details area -->
                     <!-- start about me details area -->
                     <div id="aboutdetailsForm" class="formItemBox">
                        <div class="editFormComonTop text-center">
                           <div class="itemTopIcon">
                              <img class="img-fluid" src="{{ STATIC_URL }}static/edit_download_module/img/icons/support.png" alt="">
                           </div>
                           <div class="title">
                              <h4>About Me</h4>
                           </div>
                        </div>
                        <div class="inputBoxArea">
                           <div class="row">
                              <div class="col-xl-4 col-lg-4 col-md-5">
                                 <div class="inputBox">
                                    <input type="text" name = "profession" value = "{{ obj.profession }}" placeholder="Profession">
                                    <label>Profession</label>
                                 </div>
                              </div>
                              <div class="col-xl-8 col-lg-8 col-md-7">
                                 <div class="inputBox">
                                    <textarea name="aboutBio" id="aboutBio" placeholder="Description">{{ obj.description }}</textarea>
                                    <label>Description <span>(280 Character's Only) </span></label>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- end about me details area -->
                     <!-- start jobdetails area -->
                     <div id="jobdetailsForm" class="formItemBox">
                        <div class="editFormComonTop text-center">
                           <div class="itemTopIcon">
                              <img class="img-fluid" src="{{ STATIC_URL }}static/edit_download_module/img/icons/briefcase.png" alt="">
                           </div>
                           <div class="title">
                              <h4>Job Details</h4>
                           </div>
                        </div>
                        <div class="inputBoxArea">
                           <div class="row">
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" name="jobTitle" value = "{{ obj.job_title }}" placeholder="Job Title">
                                    <label>Job Title</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input disabled type="text" {% if obj.company %} value = "{{ obj.company.name }}"{% endif %} placeholder="Company Name">
                                    <label>Company Name</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="tel" value = "{{ obj.user.mobile }}" name="phoneInput123" id="phoneInput" placeholder="Enter your phone number">
                                    <label>Phone No.</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- end jobdetails area -->
                     <!-- start contact details area -->
                     <div id="contactdetailsForm" class="formItemBox">
                        <div class="editFormComonTop text-center">
                           <div class="itemTopIcon">
                              <img class="img-fluid" src="{{ STATIC_URL }}static/edit_download_module/img/icons/contact.png" alt="">
                           </div>
                           <div class="title">
                              <h4>Contact Details</h4>
                           </div>
                        </div>
                        <div class="inputBoxArea">
                           <div class="row">
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="tel" value = "{{ obj.whatsapp_number }}" name="phoneInput2" id="phoneInput2" placeholder="Enter your phone number">
                                    <label>Whatsapp</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" name="telephone" value = "{{ obj.telephone_number }}" placeholder="Telephone No.">
                                    <label>Telephone No.</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" name="fax" value = "{{ obj.fax_number }}" placeholder="Fax No.">
                                    <label>Fax No.</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input name="websiteLink" value = "{{ obj.website }}" type="text" placeholder="Website">
                                    <label>Website</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input name="email1" value = "{{ obj.user.user.email }}" type="text" placeholder="Email Address">
                                    <label>Email Address</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" name="skype" value = "{{ obj.skype_id }}" placeholder="Skype ID">
                                    <label>Skype ID</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- end contact details area -->
                     <!-- start connection details -->
                     <div id="connectiondetailsForm" class="formItemBox">
                        <div class="editFormComonTop text-center">
                           <div class="itemTopIcon">
                              <img class="img-fluid" src="{{ STATIC_URL }}static/edit_download_module/img/icons/globe-grid.png" alt="">
                           </div>
                           <div class="title">
                              <h4>Connection Details</h4>
                           </div>
                        </div>
                        <div class="inputBoxArea">
                           <div class="row">
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" value = "{{ obj.third_party_connection_details.facebook }}" name="fbLink" placeholder="Enter Profile URL">
                                    <label>Facebook</label>
                                    <div class="getLinkBtn">
                                       <a href="https://www.facebook.com/" target="_blank">Get Link</a>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" value = "{{ obj.third_party_connection_details.instagram }}"  name="insLink" placeholder="Enter Profile URL">
                                    <label>Instagram</label>
                                    <div class="getLinkBtn">
                                       <a href="https://www.instagram.com/" target="_blank">Get Link</a>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" value = "{{ obj.third_party_connection_details.snapchat }}" name="snapLink" placeholder="Enter Profile URL">
                                    <label>Snapchat</label>
                                    <div class="getLinkBtn">
                                       <a href="#">Get Link</a>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" value = "{{ obj.third_party_connection_details.linkedin }}" name="linkdInLink" placeholder="Enter Profile URL">
                                    <label>LinkedIn</label>
                                    <div class="getLinkBtn">
                                       <a href="#">Get Link</a>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" value = "{{ obj.third_party_connection_details.twitter }}" name="twiLink" placeholder="Enter Profile URL">
                                    <label>Twitter</label>
                                    <div class="getLinkBtn">
                                       <a href="#">Get Link</a>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" value = "{{ obj.third_party_connection_details.tumblr }}" name="tumblerLink" placeholder="Enter Profile URL">
                                    <label>Tumblr</label>
                                    <div class="getLinkBtn">
                                       <a href="#">Get Link</a>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" value = "{{ obj.third_party_connection_details.dribble }}" name="dribbleLink" placeholder="Enter Profile URL">
                                    <label>Dribbble</label>
                                    <div class="getLinkBtn">
                                       <a href="#">Get Link</a>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" value = "{{ obj.third_party_connection_details.behance }}" name="behanceLink" placeholder="Enter Profile URL">
                                    <label>Behance</label>
                                    <div class="getLinkBtn">
                                       <a href="#">Get Link</a>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" value = "{{ obj.third_party_connection_details.pinterest }}" name="pinLink" placeholder="Enter Profile URL">
                                    <label>Pinterest</label>
                                    <div class="getLinkBtn">
                                       <a href="https://in.pinterest.com/" target="_blank">Get Link</a>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" value = "{{ obj.third_party_connection_details.youtube }}" name="youtubeLink" placeholder="Enter Profile URL">
                                    <label>YouTube</label>
                                    <div class="getLinkBtn">
                                       <a href="https://www.youtube.com/" target="_blank">Get Link</a>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" value = "{{ obj.third_party_connection_details.telegram }}" name="teleGranLink" placeholder="Enter Profile URL">
                                    <label>Telegram</label>
                                    <div class="getLinkBtn">
                                       <a href="#">Get Link</a>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" value = "{{ obj.third_party_connection_details.reddit }}" name="reditlink" placeholder="Enter Profile URL">
                                    <label>Reddit</label>
                                    <div class="getLinkBtn">
                                       <a href="#">Get Link</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- end connection details -->
                     <!-- start address form area -->
                     <div id="addressdetailsForm" class="formItemBox">
                        <div class="editFormComonTop text-center">
                           <div class="itemTopIcon">
                              <img class="img-fluid" src="{{ STATIC_URL }}static/edit_download_module/img/icons/address.png" alt="">
                           </div>
                           <div class="title">
                              <h4>Address 1</h4>
                           </div>
                        </div>
                        <div class="inputBoxArea">
                           <div class="row">
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" name="s_add1" value = "{{ obj.address1 }}" placeholder="Street Address 1">
                                    <label>Street Address 1</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" name="s_add2" value = "{{ obj.address2 }}" placeholder="Street Address 2">
                                    <label>Street Address 2</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" name="city" value = "{{ obj.city }}" placeholder="City/Town">
                                    <label>City/Town</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" name="state" value = "{{ obj.state }}" placeholder="State/Province">
                                    <label>State/Province</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" name="zip" value = "{{ obj.zipcode }}" placeholder="Zip/Postal Code">
                                    <label>Zip/Postal Code</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input id="country_selector" name="country_selector" {% if obj.country %} value = "{{ obj.country }}" {% endif %} class="countrySelect" type="text">
                                    <label>Country</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- end address form area -->
                     <!-- start address form area -->
                     <div id="addressdetailsForm" class="formItemBox">
                        <div class="editFormComonTop text-center">
                           <div class="itemTopIcon">
                              <img class="img-fluid" src="{{ STATIC_URL }}static/edit_download_module/img/icons/address.png" alt="">
                           </div>
                           <div class="title">
                              <h4>Address 2</h4>
                           </div>
                        </div>
                        <div class="inputBoxArea">
                           <div class="row">
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" name="s_add1_1" value = "{{ obj.another_address1 }}" placeholder="Street Address 1">
                                    <label>Street Address 1</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" name="s_add2_1" value = "{{ obj.another_address2 }}" placeholder="Street Address 2">
                                    <label>Street Address 2</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" name="city1" value = "{{ obj.another_city }}" placeholder="City/Town">
                                    <label>City/Town</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" name="state1" value = "{{ obj.another_state }}" placeholder="State/Province">
                                    <label>State/Province</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" name="zip1" value = "{{ obj.another_zipcode }}" placeholder="Zip/Postal Code">
                                    <label>Zip/Postal Code</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input id="country_selector2" name="country_selector2" {% if obj.another_country %} value = "{{ obj.another_country }}" {% endif %} class="countrySelect" type="text">
                                    <label>Country</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- end address form area -->
                     <!-- start payment details area -->
                     <div id="paymentdetailsForm" class="formItemBox">
                        <div class="editFormComonTop text-center">
                           <div class="itemTopIcon">
                              <img class="img-fluid" src="{{ STATIC_URL }}static/edit_download_module/img/icons/pay.png" alt="">
                           </div>
                           <div class="title">
                              <h4>Payment Details</h4>
                           </div>
                        </div>
                        <div class="inputBoxArea">
                           <div class="row">
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" name="gpay" value = "{{ obj.payment_details.g_pay }}" placeholder="Google Pay">
                                    <label>Google Pay</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" name="app_pay" value = "{{ obj.payment_details.apple_pay }}" placeholder="Apple Pay">
                                    <label>Apple Pay</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" name="paypal" value = "{{ obj.payment_details.paypal }}" placeholder="Paypal">
                                    <label>Paypal</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" name="samsung" value = "{{ obj.payment_details.samsung_pay }}" placeholder="Samsung Pay">
                                    <label>Samsung Pay</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" name="cash" value = "{{ obj.payment_details.cash_app }}" placeholder="Cash App">
                                    <label>Cash App</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- end payment details area -->
                     <!-- start additional details area -->
                     <div id="additionaldetailsForm" class="formItemBox">
                        <div class="editFormComonTop text-center">
                           <div class="itemTopIcon">
                              <img class="img-fluid" src="{{ STATIC_URL }}static/edit_download_module/img/icons/creation.png" alt="">
                           </div>
                           <div class="title">
                              <h4>Additional Details</h4>
                           </div>
                        </div>
                        <div class="inputBoxArea">
                           <div class="row">
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" value = "{{ obj.email_address1 }}" name="emailadi1" placeholder="Email Address">
                                    <label>Email Address</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" value = "{{ obj.email_address2 }}" name="emailadi2" placeholder="Email Address">
                                    <label>Email Address</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" value = "{{ obj.email_address3 }}" name="emailadi3" placeholder="Email Address">
                                    <label>Email Address</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" value = "{{ obj.website1 }}" name="webLinkadi1" placeholder="Website Link">
                                    <label>Website Link</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" value = "{{ obj.website2 }}" name="webLinkadi2" placeholder="Website Link">
                                    <label>Website Link</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="text" value = "{{ obj.website3 }}" name="webLinkadi3" placeholder="Website Link">
                                    <label>Website Link</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="tel" value = "{{ obj.mobile1 }}" name="phoneInputadi1" id="phoneInputadi1" placeholder="Enter your phone number">
                                    <label>Mobile No.</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="tel" value = "{{ obj.mobile2 }}" name="phoneInputadi2" id="phoneInputadi2" placeholder="Enter your phone number">
                                    <label>Mobile No.</label>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6">
                                 <div class="inputBox">
                                    <input type="tel" value = "{{ obj.mobile3 }}" name="phoneInputadi3" id="phoneInputadi3" placeholder="Enter your phone number">
                                    <label>Mobile No.</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- end additional details area -->
                     <!-- start form submit action btn -->


                     <div class="formSubmitAction text-center">
                        <button type="submit">Save Changes</button>
                     </div>


                     <!-- end form submit action btn -->
                  </form>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- end edit profile main form area -->
   <!-- start footer area -->
   <footer id="footer">
      <div class="container">
         <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
               <div class="footerlogo">
                  <div class="logo">
                     <a href="#">
                        <img class="img-fluid" src="{{ STATIC_URL }}static/edit_download_module/img/footer-logo.png" alt="">
                     </a>
                  </div>
                  <div class="about">
                     <p>Tap Into The Future Of Business Cards With ETCH24, A Smart Business Card For The Digital Age. <span>Personalized | Customized | Versatile</span></p>
                  </div>
               </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6">
               <div class="footerLinkarea">
                  <div class="row">
                     <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="footerLink">
                           <h4>Company</h4>
                           <ul>
                              <li><a href="#">About Us</a></li>
                              <li><a href="#">Privacy Policy</a></li>
                              <li><a href="#">Terms & Conditions</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="footerLink">
                           <h4>About ETCH24</h4>
                           <ul>
                              <li><a href="#">Why ETCH24</a></li>
                              <li><a href="#">ETCH24.PROFILE</a></li>
                              <li><a href="#">Testimonials</a></li>
                              <li><a href="#">FAQ's</a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="footerLink">
                           <h4>Contact Us</h4>
                           <ul>
                              <li><a href="#">+91 91676 33913</a></li>
                              <li><a href="#">etch24.profile@gmail.com</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!-- end footer area -->

   {% endblock %}

   <!-- all javascript load here -->
   {% block script_body %}
   {% endblock %}
